    * {
      box-sizing: border-box;
      margin: 0;
      font-family: 'Quicksand', sans-serif;

    }

    .nav {
      float: left;
      width: 100%;
      position: fixed;
      top: 0;
      z-index: 1;
      padding: 20px 60px;

    }

    .nav-menu {
      float: right;

    }

    .logo {
      text-decoration: none;
      font-size: 20px;
      color: white;
    }

    .nav-menu>a {
      text-decoration: none;
      font-size: 14px;
      padding-left: 40px;
      color: rgb(255, 255, 255);
    }

    .nav-menu>a:hover {
      transition: 0.2s;
      color: #bbb8b1bb;
      text-align: center;
    }

    .active {
      color: #fbc65f;
    }

    @media screen and (max-width: 767px) {
      .nav a {
        display: block;
      }
    }

    .card-heading {
      text-align: center;
      padding: 50px;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    @media all and (max-width: 767px) {

      .card-heading {
        font-size: 20px;
        padding: 60px 30px;
        width: 100%;
      }
    }

    .card-heading>p {
      text-align: center;
      font-size: 12px;
      padding-top: 10px;
      opacity: 0.6;
    }


    .img-banner {
      position: relative;
    }

    .img-banner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      font-size: 40px;
      overflow: hidden;
    }

    @media screen and (max-width: 767px) {
      .img-banner-text {
        font-size: 20px;
      }
    }

    .landing-page {
      max-width: 1500px;
      margin-left: auto;
      margin-right: auto;

    }

    .img-button {
      background-color: #e9b44b;
      border: none;
      padding: 15px;
      margin: 50px;
      border-radius: 5px;
      color: black;

    }

    .img-button:hover {
      background-color: rgb(219, 160, 43);
      transition: 0.3s;

    }

    @media screen and (max-width: 767px) {
      .img-button {
        padding: 10px;
        overflow: hidden;

      }
    }


    .img-card-container::after,
    .img-card-container::before {
      content: "";
      clear: both;
      display: table;
    }

    img {
      width: 100%;
    }

    .img-card-container {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0 10px;
      text-align: center;
      flex-wrap: wrap;

    }

    .img-card {
      flex: 33.3%;
      padding: 15px;
    }

    .img-card_text>p {
      color: black;
      padding: 10px;
    }

    .img-card:hover {
      box-shadow: 0 4px 8px 0 #fdeb4c, 0 6px 20px 0#e9b44b;
      transition: 0.5s;

    }

    .card-buy-button {
      border: none;
      background-color: black;
      color: white;
      padding: 8px 20px;
      margin-top: 8px;
    }

    .card-buy-button:hover {
      background-color: #e9b44b;
      color: black;
      transition: 0.3s;
    }

    @media screen and (max-width: 767px) {
      .img-card {
        flex: 100%;
      }
    }

    .footer>p {
      color: black;
      text-align: center;
      padding-top: 50px;

    }

    .footer {
      background-color: #e9b44b;
      margin: 100px 0 20px 0;
      padding-bottom: 20px;

    }

    .fa-linkedin {
      background: #007bb5;
      color: white;
      padding: 10px;
      font-size: 10px;
      width: 40px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }

    .fa-linkedin:hover {
      background-color: #e9b44b;
      transition: 0.6s;
      color: black;
    }

    .fa-youtube {
      background: #bb0000;
      color: white;
      padding: 10px;
      font-size: 10px;
      width: 40px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }

    .fa-youtube:hover {
      background-color: #e9b449;
      transition: 0.6s;
      color: black;
    }


    .fa-instagram {
      background: transparent;
      color: rgb(137, 47, 255);
      padding: 10px;
      width: 38px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }

    .fa-instagram:hover {
      background: linear-gradient(rgb(247, 28, 211), rgb(28, 116, 247), rgb(75, 28, 247));
      transition: 0.2s;
      color: white;
    }


    .fa-twitter {
      background: rgb(62, 184, 255);
      color: white;
      padding: 10px;
      font-size: 10px;
      width: 40px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }

    .fa-twitter:hover {
      background-color: #e9b44b;
      transition: 0.6s;
      color: black;
    }

    .footer-icons {
      padding: 10px;
      text-align: center;
    }

    .rotate-container {
      position: relative;
      margin-top: 50px;
      margin-left: 10px;


    }

    .rotate-container>h1 {
      text-align: center;
      margin-left: 20px;

    }

    .rotate {
      margin-left: 590px;
      margin-top: 40px;
    }

    @media screen and (max-width: 767px) {
      .rotate {
        margin-left: 250px;

      }
    }

    .rotate-img {
      position: absolute;
      top: 110px;
      left: 625px;
      width: 100px;
    }

    @media screen and (max-width: 767px) {
      .rotate-img {
        width: 120px;
        left: 270px;
        top: 90px;

      }
    }

    .rotate-icon {
      width: 145px;
      height: 135px;
      background-color: transparent;
      border-radius: 50%;

    }

    @media screen and (max-width: 767px) {
      .rotate-icon {
        width: 160px;


      }
    }

    .rotate-icon {
      animation: rotation 30s infinite linear;
      transform-origin: 50% 63.67%;
      /* (vertical center) / (image height) * 100 = (percentage)*/
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(359deg);
      }
    }